.container {
  width: 100%;
  padding: 24px;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.search {
  flex: 1;
  min-width: 0;
}

.search :global(input) {
  width: 100%;
}

.pagination {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.create {
  flex: 0 0 auto;
  margin-left: auto;
}
